ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    margin:0;
    padding: 10px;
    background-color: rgba(215, 151, 32, 0.962);
    color: rgba(0, 0, 0, 0.653);

}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link:hover{
    background-color: rgb(23, 203, 41);
    color: rgba(0, 0, 0, 0.845);
    border-radius: 10px;
    padding: 5px;

}