ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    margin:0;
    padding: 10px;
    background-color: rgba(23, 205, 20, 0.864);
    color: rgba(0, 0, 0, 0.947);

}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link:hover{
    background-color: rgba(241, 241, 241, 0.968);
    color: rgba(0, 0, 0, 0.845);
    border-radius: 10px;
    padding: 5px;

}